@media screen and (max-width: 768px) 
{
    *
    {
        padding: 0;
        margin: 0;
        
    }
    .father
    {
        margin: 0;
        overflow: hidden;
    }
    nav
    {
        position: fixed;
        display: flex;
        z-index: 10;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 2%;
        padding-top: 30px;
        padding-right: 3%;
        justify-content: center;
    }
    .nav2 #navigation
    {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
    }
    .nav2
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #ph
    {
        display: none;
    }
    .card
    {
        width: 80%;
    }
    .logo
    {
        align-self: center;
    }
    .box1
    {
        margin: auto;
        width: 90%;
    }
    #first-pic
    {
        width: 300px;
        height: 250px;
        border-radius: 50%;
    }
    .mother
    {
        padding-top: 130px;
    }
    .about, .experience
    {
        padding-top: 120px;
    }
    .about
    {
        background-image: url("linux.jpg");
        background-position: center;
        background-blend-mode: normal;
    }
    #about-img
    {
        display: none;
    }
    #footer
    {
        background-position: center;
        background-size: auto;
    } 
    .services
    {
        padding-top: 120px;
    }
    .card
    {
        max-height: auto;
        margin-bottom: 10%;
    }
    .pra p
    {
        font-weight: bold;
    }
    .hobby p
    {
        margin: 0 20px;
    }
    .text-1, .text-2
    {
        font-size: 25px;
    }

}